<ul class="nav nav-pills flex-column">

    {% if user.role == 'student' %}

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'student_dashboard' %}active{% endif %}" href="{% url 'student_dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'practice_home' %}active{% endif %}"
               href="{% url 'practice_home' %}">
                <i class="bi bi-pencil-square"></i>
                Practice
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'student_join_exam' %}active{% endif %}"
            href="{% url 'student_join_exam' %}">
                <i class="bi bi-door-open"></i>
                Join Exam
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subject_list' %}active{% endif %}" href="{% url 'subject_list' %}">
                <i class="bi bi-journal-bookmark"></i>
                Subjects
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#">
                <i class="bi bi-bar-chart"></i>
                Results
                <span class="badge bg-secondary">Soon</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#">
                <i class="bi bi-award"></i>
                Certificates
                <span class="badge bg-secondary">Soon</span>
            </a>
        </li>


    {% elif user.role == 'teacher' %}

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'teacher_dashboard' %}active{% endif %}" href="{% url 'teacher_dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'question_list' %}active{% endif %}" href="{% url 'question_list' %}">
                <i class="bi bi-question-circle"></i>
                Question Bank
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'add_question' %}active{% endif %}" href="{% url 'add_question' %}">
                <i class="bi bi-plus-circle"></i>
                Add Question
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_create_exam' %}">
                <i class="bi bi-file-earmark-text"></i>
                Create Exam
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_ongoing_exams' %}">
                <i class="bi bi-file-earmark-text"></i>
                Continue Ongoing Exam
            </a>

        </li>
        

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_previous_conducted_exams' %}">
                <i class="bi bi-file-earmark-text"></i>
                Previous Conducted Exams
            </a>

        </li>

    {% elif user.role == 'admin' %}

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}" href="{% url 'admin_dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'pending_teachers' %}active{% endif %}" href="{% url 'pending_teachers' %}">
                <i class="bi bi-person-check"></i>
                Teacher Approvals
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'subject_list' %}active{% endif %}" href="{% url 'subject_list' %}">
                <i class="bi bi-journal-bookmark"></i>
                Subjects
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'question_list' %}active{% endif %}" href="{% url 'question_list' %}">
                <i class="bi bi-question-circle"></i>
                Questions
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == '/admin/' %}active{% endif %}" href="/admin/">
                <i class="bi bi-gear"></i>
                Django Admin
            </a>
        </li>

    {% endif %}


    <!-- Common Profile Link -->

    <li class="nav-item mt-2">
        <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">
            <i class="bi bi-person"></i>
            Profile
        </a>
    </li>

</ul>
